body{
    padding: 0;
    margin: 0;
    background: rgb(255, 255, 255);
}
p,button{
    margin-left: 20px;
}
#overlay{
    position: absolute; 
  bottom: 0; 
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

#form-container{
    display: flex;
    justify-content:start;
    align-items: center;
}
#left-subcontainer{
    position: relative;
    width: 100%;
    height: 100vh; 
}
#left-subcontainer img {
    width: 100%;
    height: 100%;
}

#right-subcontainer{
    align-items: center;
    justify-content: center;
    width: 100vh;
    height: 100%;
}
#halie-img{
    width: 100%;
}

.grid-items{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
form{
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
#form-input{
    display: grid;
    grid-template-rows: auto auto  auto;
    grid-template-columns: auto auto;
}
input{
    width: 300px;
}
#top-right-subcontainer{
    width: max-content;
    height: max-content;
}
#logo-text{
    font-size: 50px;
    color: white;
}
#logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 100%;
    background: rgb(49, 49, 49);
    opacity: .7;
    position: relative;
    bottom: 65%;
}

#right-subcontainer p{
    font-weight: bold;
    font-size: larger;
    font-family: sans-serif;
}
button{
    margin-top: 20px;
    color: white;
    background: green;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}
span{
    color: green;
}
